{% extends 'base.html' %}

{% block content %}
<div class="row" style="padding: 5%;">
    <form class="col-md-12 form-wrap" method="POST">
        <h3 class="pb-20 text-center mb-20">Create new Movie</h3>
        <input type="text" class="form-control mb-20" name="code" placeholder="Code" required>
        <input type="text" class="form-control mb-20" name="name" placeholder="Name" required>
        <input type="text" class="form-control mb-20" name="genre" placeholder="Genre" required>
        <textarea name="description" class="form-control mb-20" rows="5" placeholder="Description" required></textarea>
        <div class="text-center confirm_btn_box">
            <a href="/" class="genric-btn danger circle">Cancel</a>
            <button class="genric-btn success circle">Save</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}